@import 'scss/variables.scss';

footer{
  background: $primary-color;
  padding: 40px 0;
}

.footer-wrapper{
  width: $container-width;
  margin: 0 auto;

  &-head{
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    img{
      width: 40px;
      height: 40px;
      margin-right: 10px;
      object-fit: cover;
    }

    h2{
      margin: 0;
      color: #fff;
    }
  }

  &-body{
    &__category{
      span{
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        display: block;
      }

      ul{
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li{
          font-size: 15px;
          margin-bottom: 7px;
          
          a{
            transition: .3s;
            font-weight: 500;
            color: #fff;
            text-decoration: none;
    
            &:hover{
              color: $secondary-color;
            }
          }

          .active_link{
            color: $secondary-color;
          }
        }
      }
    }

    &__contacts{
      margin-top: 25px;

      span{
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        display: block;
      }

      ul{
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li{
          a{
            text-decoration: none;
            color: #fff;
            transition: .3s;

            svg{
              width: 30px;
              height: 30px;
            }

            &:hover{
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}