@import 'scss/variables.scss';

footer{
  background: $primary-color;
  padding: 30px 0;
}

.footer-wrapper{
  width: $container-width;
  margin: 0 auto;

  &-head{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    h2{
      color: $secondary-color;
      margin: 0;
    }
  }

  &-body{
    &__category{

      span{
        color: #fff;
        font-weight: 500;
      }
    }
  }
}