@import 'scss/variables.scss';

.news-fixed{
  top: 20px;
  width: 29%;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 0px;
  height: fit-content;
  background: $primary-color;
  position: sticky;

  & div:last-child{
    border: none;
    margin-bottom: 0;

    &::before{
      display: none;
    }
  }

  &__child{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    position: relative;

    span{
      display: flex;
      align-items: center;
      color: #fff;
      margin-bottom: 5px;
      font-size: 14px;

      svg{
        width: 15px;
        height: 15px;
        margin-right: 5px;
        color: $secondary-color;
      }
    }

    p{
      color: #fff;
      font-size: 14px;
      height: 45px;
      overflow: hidden;
      line-height: 1.6;
      cursor: pointer;
      margin: 0;
    }

    &::before{
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      background: $secondary-color;
      left: 0;
      transition: .3s;
      bottom: -1px;
    }

    &:hover::before{
      width: 100%;
    }
  }
}